BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
ColumnLimit: 0
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignOperands: AlignAfterOperator
PointerAlignment: Left
ReferenceAlignment: Left
LineEnding: DeriveLF
InsertNewlineAtEOF: true
