# IDE
.vscode

vgcore.*
valgrind_check.log
.gdb_history

gdb_commands.txt
algo_cfg*.txt

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.lib
*.exe
*.exp
*.obj
*.out
build

# Cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile

.cache
*.log

# Python
__pycache__
*.pyc
*.pyo
.ipynb

# Dev
playground.*
*.playground.*
*.todo.*
sketches/
cementary/
results/
