CompileFlags:
  Add:
    [
      --std=c++20,
      -Wunused,
      -Wall,
      -Wextra,
      # to suppress unknown opts set by e.g. Cmake in some parent directory
      -Wno-unknown-warning-option,
      -Werr,
      -Iinclude,
      -I-
    ]
Hover:
  ShowAKA: true
