CompileFlags:
  Compiler: clang++
  Add:
    - --std=c++20
    - -Wunused
    - -Wall
    - -Wpedantic
    - -Wextra
    - -Wconversion
    - -Wsign-compare
    - -Wsign-conversion
    # to suppress unknown opts set by e.g. Cmake in some parent directory
    - -Wno-unknown-warning-option
    # adds "include/" directory
    - -iquoteinclude
    - --cuda-path=/usr/local/cuda-12.1/
    - --cuda-gpu-arch=sm_75
    - -L/usr/local/cuda-12.1/lib64
    - -I/usr/local/cuda-12.1/include
    # - -Xclang -fcuda-allow-variadic-functions
    # - --cuda-path=C://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.1
    # - -LC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.1//lib
    # - -IC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.1//include
  Remove:
    - -march=*
    - -mabi=*
Hover:
  ShowAKA: true
